.main-box-container{
    /* border-radius: 20px; */
    /* background-color: red; */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    backdrop-filter: blur(10px);
    z-index: 1000;
}
.about-me-box{
    width: 100%;
    height: calc(100% - 40px);
    backdrop-filter: blur(10px);
    background-color: rgba(255,255,255,0.2);
    z-index: 1000;
    border-radius: 20px;
    transition: all 0.4s ease-in-out;
    border: rgba(255,255,255,0.1) 1px solid;
}
.bottom-last-box{
    width: 100%;
    height: 50px;
    /* background-color: rgba(0,0,0,0.1); */
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.full-screen-btn{
    height: 40px;
    background-color: rgba(255,255,255,0.1);
    border-radius: 200px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255,255,255,0.8);
    font-weight: 300;
    font-size: 14px;
    position: relative;
    z-index: 1000;
    padding-right: 20px;
    backdrop-filter: blur(7px);
    border: 1px solid rgba(255,255,255,0.1);
}




/* .about-me-box {
  width: 400px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  transition: all 0.5s ease;
  border-radius: 16px;
  margin: 0 auto;
  overflow: hidden;
} */

/* Full screen mode */
.fullscreen-mode {
    position: absolute;
    top: -15px;
    left: -40px;
  width: 100vw !important;
  height: 100vh !important;
  border-radius: 0 !important;
    transition: all 0.4s ease-in-out;
}
