.navigation-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 20px; */
    /* background-color: rgba(0,0,0, 0.4); */
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 3px;
    font-family: Inter;
    color: #000;
    
    font-size: 12px;
    justify-content: space-between;
    /* cursor: default; */
}
.navigation-bar .name-box .name{
    /* color: white; */
    margin-left: 5vw;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: -0.5px;
    opacity: 0.9;
    /* background-color: rgba(0,0,0, 0.1); */
    padding: 3px 8px;
    /* cursor: pointer; */
    border-radius: 4px;
    transition: all 0.3s ease;
    /* m-left: 20px; */
}
.navigation-bar .name-box .name:hover{
    background-color: rgba(0,0,0, 0.1);
}
.nav-des{
    opacity: 0.8;
}
.nav-des-two{
    opacity: 0.8;
    display: none;
}
.time-box{
    margin-right: 5vw;
    font-size: 12px;
}

@media screen and (max-width: 768px) {
    .navigation-bar {
        padding: 5px;
        font-size: 10px;
    }
    .navigation-bar .name-box .name {
        margin-left: 3vw;
        letter-spacing: 0px;
    }
    .time-box {
        margin-right: 3vw;
        font-size: 10px;    
    }
    
}
@media screen and (max-width: 540px) {
    .navigation-bar {
        padding: 5px;
        font-size: 12px;
    }
    .navigation-bar .name-box .name {
        margin-left: 2vw;
        letter-spacing: 0px;
    }
    .nav-des {
        display: none;
        /* font-size: 6px; */
    }
    .nav-des-two{
    opacity: 0.8;
    display: block;
    font-size: 11px;
    /* display: none; */
}
    .time-box {
        margin-right: 4vw;
        font-size: 12px;    
    }
    
}
@media screen and (max-width: 440px) {
    .nav-des{
        display: none;
    }
    
}

.mute-toggle {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  /* cursor: pointer; */
  user-select: none;
}


.trail-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  border-radius: 12px;
  object-fit: cover;
  pointer-events: none;
  opacity: 0;
  z-index: 9999;
  mix-blend-mode: lighten;
  transition: opacity 0.2s ease-in-out;
}
