.loader-container {
  height: 100vh;
  width: 100vw;
  /* background-color: #fff; */
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.loader-heading {
  font-size: 20px;
  opacity: 0;
  font-family: 'Inter';
  font-weight: 300;
  text-align: center;
  margin-bottom: 20px;
  animation: fadeInUp 1.2s ease forwards;
  opacity: 0;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 0;
    transform: translateY(0);
  }
}

.loading-bar-container {
  width: 100vw;
  height: 1px;
  background-color: #e4e4e4;
  border-radius: 5px;
  overflow: hidden;
}

.loading-bar-fill {
  height: 100%;
  background-color: #000;
  transition: width 0.3s ease;
}

.enter-button {
  margin-top: 30px;
  padding: 12px 34px;
  font-size: 12px;
  letter-spacing: 2px;
  /* text-transform: uppercase; */
  color: #000;
  /* background-color: #fff; */
  border: 1px solid #000;
  border-radius: 30px;
  cursor: pointer;
  opacity: 0;
  transform: scale(0);
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  
}
.enter-icon{
  width: 18px;
  margin-left: 8px;
}
.progress-text{
    font-family: 'Inter';
    font-weight: 200;
    /* position: absolute;
    left: 0px;
    bottom: 0px; */
    font-size: 30px;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 1);
}
