.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: rgba(255,255,255,0.8);
  border: 1px solid rgba(255,255,255, 0.5);
  box-shadow: 1px 1px 20px rgba(0, 0, 0, rgba(0,0,0,0.5));
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 99999009;
  mix-blend-mode: difference;
  /* backdrop-filter: blur(4px); */
  transition: width 150ms ease,height 150ms ease, background-color 200ms;
}

/* Hover animation */
.custom-cursor.cursor-hovered {
  /* transform: translate(-50%, -50%) scale(2); */
  width: 40px;
  height: 40px;
  /* border-radius: 2px; */
  /* background-color: rgba(255,255,255, 1); */
  background: none;

  /* backdrop-filter: blur(5px); */
}

@media screen and (max-width: 768px) {
  .custom-cursor {
    display: none;
  }
}
