/* Remove blue highlight on tap (iOS Safari, Android Chrome) */
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: transparent;
  outline: none;
}

.Desktop-Icon{
    width: 220px;
    display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(auto-fill, 100px);/* or auto, if dynamic*/
  gap: 1px;
  max-height: 100vh;
  overflow: hidden;
  /* padding: 20px; */
  padding-top: 50px;

}

@media (max-width: 768px) {
  .Desktop-Icon {
    grid-template-rows: repeat(auto-fill, 80px);
    gap: 20px;
    padding-top: 50px;
  }
}




.Icon-Box{
    /* background-color: rgba(169, 196, 239, 0.3); */
    width: 60px;
    height: 60px;
    margin-left: 25px;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: center;
    border-radius: 10px;
    /* cursor: pointer; */
    padding: 7px;
    padding-bottom: 12px;
    transition: all 0.3s;
    margin-bottom: 5px;
}
.Icon-Box:hover{
    background-color: rgba(169, 196, 239, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}
.desk-icon-size{
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.desk-icon-Box{
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: flex-start; */
    margin-bottom: 5px;
    text-align: center;
    /* justify-content: center; */
    /* text-align: center; */
    font-family: Inter;
    /* font-weight: 500; */
    /* color: #fff; */
}
.Icon-Name{
    font-size: 10px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    text-align: center;
    margin-top: -8px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.game-window {
  width: 400px;
  height: 500px;
  overflow: hidden;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}





#settingsAppMainBox{
  width: 10%;
  height: calc(90% - 100px);
  background-color: rgba(255,255,255,1);
  backdrop-filter: blur(5px);
  position: absolute;
  top: 45%;
  left: 50%;
  overflow: visible;
  /* transform: scale(1); */
  transform: translate(-50%,-50%);
  border-radius: 20px;
  z-index: -1;
  opacity: 0;
  filter: blur(50px);
  transition: all 0.5s;
  display: flex;
  /* align-items: center; */
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  /* transform: skew(10deg); */

}
.settingsAppNavBar{
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: space-between;
  /* background-color: aqua; */
}
.settingsLeftNavBox{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
}
.closeSettingsApp{
  /* padding: 20px; */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.1s;
}
.closeSettingsApp:active{
  transform: scale(1.5);
  /* width: 100px; */
}



.contactAppMainBox{
  width: 10%;
  height: 10%;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 20px 20px solid #000;
  opacity: 0;
  z-index: -1;
  filter: blur(50px);
  transition: all 0.4s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.closeContactBoxBtn{
  padding: 20px;
  margin: 50px;
  border-radius: 100px;
  background-color: rgba(255,0,0,0.3);
  /* background-color: aqua; */
}